<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/logo-dark.svg" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>{{SignUpConstant.SignUp}}</b></h2>
                <p class="fs-4 mt-2">{{SignUpConstant.ENTERCREDENTIALS}}</p>
              </div>
            </div>
          </div>
          <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted" style="width: 100%">
            <img src="assets/images/authentication/google-icon.svg" />Sign Up With Google
          </button>
          <div class="saprator mt-3">
            <span>or</span>
          </div>
          <h5 class="my-4 d-flex justify-content-center"> {{SignUpConstant.SignUpWithEmail}} </h5>
          <form [formGroup]="SignUpForm" (submit)="SignUpUser()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"  formControlName="FirstName"/>
                <label for="floatingInput">{{SignUpConstant.FirstName}}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="LastName" />
                <label for="floatingInput">{{SignUpConstant.LastName}}</label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="UserName" />
            <label for="floatingInput"> {{SignUpConstant.Username}}</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="EmailId" />
            <label for="floatingInput">{{SignUpConstant.EMAIL}}</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="Password"  />
            <label for="floatingInput">{{SignUpConstant.PASSWORD}}</label>
          </div>
          <div class="form-check mt-3s">
            <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
            <label class="form-check-label" for="customCheckc1">
              <h5>Agree with <span>Terms & Condition.</span></h5>
            </label>
          </div>
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-secondary p-2">{{SignUpConstant.SignUp}}</button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/guest/login']">{{SignUpConstant.AlreadyHaveAccount}}  </a>
          </h5>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
